{% extends 'zindua/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="text-center mb-4">About Zindua School</h1>
        
        <div class="card mb-4">
            <div class="card-body">
                <h3>Our Mission</h3>
                <p>To provide quality education that empowers students to achieve their full potential.</p>
                
                <h3>Our Vision</h3>
                <p>To be a leading educational institution in the region.</p>
                
                <h3>Our Values</h3>
                <ul>
                    <li>Excellence in education</li>
                    <li>Integrity and honesty</li>
                    <li>Innovation in teaching</li>
                    <li>Student-centered approach</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}