{% extends 'zindua/base.html' %}

{% block title %}Programmes{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Our Programmes</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Certificate Programmes</h5>
                <p>Short-term courses for quick skill acquisition</p>
                <ul>
                    <li>Web Development (6 months)</li>
                    <li>Computer Applications (3 months)</li>
                    <li>Graphic Design (6 months)</li>
                </ul>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Diploma Programmes</h5>
                <p>Comprehensive programs for career preparation</p>
                <ul>
                    <li>Information Technology (2 years)</li>
                    <li>Business Management (2 years)</li>
                    <li>Accounting (2 years)</li>
                </ul>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Degree Programmes</h5>
                <p>Advanced programs for professional careers</p>
                <ul>
                    <li>Computer Science (4 years)</li>
                    <li>Business Administration (4 years)</li>
                    <li>Economics (4 years)</li>
                </ul>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}